<!DOCTYPE html>
<html lang="en">

{{> header }}

<body>
    

{{> navbar }}

    <div class="container-fluid">
    <h2>User Profile</h2>
    <img src="/images/mine.png" />
    <h3>Name: {{user.NAME}}</h3>
    <h3>Email: {{user.EMAIL}}</h3>
    {{!-- <h3>Age: User Age</h3>
      <h3>Date of Birth: User date of Birth</h3>
      <h3>Contact: User Contact</h3> --}}
    </div>
    </body>
    </html>
    